.loginContainer {
  display: flex;
  height: 100vh;
  overflow: hidden; /* prevent page scroll */
}

/* LEFT SIDE */
.leftSide {
  flex: 1;
  background: var(--pink);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  min-height: 100vh;
}

body.dark-theme .leftSide {
  background: var(--blue-light);
  color: white;
}

.leftSide i {
  font-size: 7rem;
  margin-bottom: 1rem;
  color: white;
}

body.dark-theme .leftSide i {
  color: white;
}

.textBox h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.line {
  width: 20%;
  height: 0.5rem;
  margin: 1rem auto;
  background: white;
  border-radius: 8px;
}

body.dark-theme .line {
  background: white;
}

.textBox p {
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* RIGHT SIDE */
.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 2rem;
  overflow: hidden; /* no page scroll */
}

body.light-theme .rightSide {
  background: var(--light);
  color: var(--dark);
}

body.dark-theme .rightSide {
  background: var(--bg-dark);
  color: white;
}

/* AUTH FORM INTERNAL SCROLL (if small screen) */
.rightSide form {
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  overflow-y: auto;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .loginContainer {
    flex-direction: column;
  }

  .leftSide {
    padding: 3rem 1.5rem;
  }
}
