.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.authForm {
  background-color: var(--light);
  border: 1px solid var(--grey);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.submitBtn {
  background-color: var(--blue);
  border: none;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.submitBtn:hover {
  background-color: var(--blue-light);
}

.switchText {
  color: var(--blue);
  cursor: pointer;
  font-weight: 600;
}
