.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    height: 100vh;
}

.authForm {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 100%;
    max-width: 600px;
    text-align: center;
    height: 80%;
    padding: 1rem;
}

.welcome {
    text-align: start;
}

.welcome .title {
    font-size: 2.75rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.welcome hr {
    width: 10%;
    border: 2px solid var(--blue) !important;
}

.welcome .subtitle {
    color: #666;
    margin-bottom: 30px;
}

.formFields {
    padding: 1rem 0 !important;
    width: 100%;
}


.inputFields {
    width: 100%;
    padding: 1rem .75rem !important;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.inputFields:focus {
    border-color: var(--blue);
    outline: none;
}


.submitBtn {
    background-color: var(--blue);
    color: var(--light);
    border: none;
    width: 100%;
    padding: .75rem !important;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: var(--blue-light) !important;
}

.switchBox {
    margin-top: 3rem !important;
    font-size: 14px;
}

.switchText {
    color: var(--blue);
    font-weight: 600;
    cursor: pointer;
}

.error {
    color: var(--pink);
    font-size: 14px;
    margin-bottom: 15px;
}