.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light);
  color: var(--dark);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: start;
}

.hr {
  width: 10%;
  border: 2px solid var(--blue);
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
  text-align: start;
}

.input {
  width: 100% !important;
  padding: 1rem .75rem !important;
  margin-bottom: 15px !important;
  border-radius: 8px !important;
  border: 1px solid #ccc !important;
  font-size: 15px !important;
}

.input:focus {
  border-color: var(--blue) !important;
  outline: none !important;
  box-shadow: none !important;
}

.submitBtn {
  background-color: var(--blue);
  color: var(--light);
  border: none;
  width: 100%;
  padding: .75rem;
  border-radius: 8px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.switchText {
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}

.error {
  color: var(--pink);
  font-size: 14px;
  margin-bottom: 15px;
}
